@page "{id}"
@model svod_admin.Pages.Territory.CreateTerUserModel
@{
    ViewData["Title"] = "Создание пользователя";

    Dictionary<int, string> forms = new Dictionary<int, string>();
    Dictionary<int, bool> formsbool = new Dictionary<int, bool>();

    using (Npgsql.NpgsqlConnection conn = new Npgsql.NpgsqlConnection(Model.connectionString))
    {
        conn.Open();
        Npgsql.NpgsqlCommand cmd = conn.CreateCommand();
        cmd.CommandText = "SELECT formkind, short FROM svod2.formkind ORDER BY formkind ASC ";
        Npgsql.NpgsqlDataReader reader = cmd.ExecuteReader();
        while (reader.Read())
        {
            int i = reader.GetInt32(0);
            string s = reader.GetString(1);
            bool fl = false;

            forms.Add(i, s);
            formsbool.Add(i, fl);
        }
        conn.Close();
    }

    var icanflags = new Dictionary<ulong, string>()
    {
        { 0x00000001U, "я могу изменить введённые данные моего субъекта"},
        { 0x00000002U, "я могу изменить данные моих подчинённых субъектов"},
        { 0x00000004U, "я могу изменить данные субъектов моей территории"},
        { 0x00000008U, "я могу изменить данные любых субъектов"},
        { 0x00000010U, "я могу смотреть вводные формы данных"},
        { 0x00000020U, "я могу смотреть аналитические формы данных"},
        { 0x00000040U, "я могу смотреть первичные данные"},
        { 0x00000100U, "я могу редактировать реестр территорий"},
        { 0x00000200U, "я могу редактировать реестр субъектов"},
        { 0x00000400U, "я могу редактировать реестр объектов"},
        { 0x10000000U, "я могу копировать данные"},
        { 0x20000000U, "я могу редактировать пользователей и их права"},
        { 0x40000000U, "я могу редактировать параметры"},
        { 0x80000000U, "я могу смотреть устаревшие формы"}
    };

    var icanflagsbool = new Dictionary<ulong, bool>();
    foreach (var flag in icanflags)
    {
        icanflagsbool.Add(flag.Key, false);
    }
}

<div class="container-fluid">
    <form method="post" class="row g-3 editform">
        <div class="row">
            <div class="col-4">
                <label for="validationDefault01" class="form-label">Территория</label>
                <input type="text" class="form-control" name="Id" id="validationDefault01" value="@RouteData.Values["id"]" readonly>
            </div>
            <div class="col-md-2">
                <label for="LoginInput" class="form-label">Логин</label>
                <input type="text" class="form-control" name="Login" id="LoginInput" value="@Model.Login" required>
            </div>
            <div class="col-md-4">
                <label for="Password" class="form-label">Пароль</label>
                <div class="input-group mb-3">
                    <button class="btn btn-success btn-generate-password" type="button" asp-page-handler="edit" id="Password">Сгенерировать</button>
                    <input type="text" class="form-control" name="Password" value="@Model.Password" aria-label="Сгенерированный пароль" readonly>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label for="Passwordupto" class="form-label">Действует до..</label>
            <input type="date" class="form-control" name="Passwordupto" id="Passwordupto">
        </div>
        <div class="col-md-3">
            <label for="inputNote" class="form-label">Заметки</label>
            <input type="text" class="form-control" name="Note" id="inputNote">
        </div>
        <div class="row permissions">
            <div class="col">
                <label for="inputFlags" class="form-label">Виды форм</label>
                @foreach (var flag in formsbool)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Fkinds" asp-for="@flag.Value" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            @flag.Key - @forms[flag.Key]
                        </label>
                    </div>
                }
            </div>
            <div class="col">
                <label for="inputFlags" class="form-label">Разрешения</label>
                @foreach (var flag in icanflagsbool)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Cflags" value="@flag.Key" asp-for="@flag.Value" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            @icanflags[flag.Key]
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" asp-page-handler="create" class="btn btn-primary">Сохранить изменения</button>
            <button type="submit" asp-page-handler="cancel" class="btn btn-secondary">Отменить изменения</button>
        </div>
    </form>
</div>