@page
@model svod_admin.Pages.Target.CreateTarUserModel
@{
    ViewData["Title"] = "Создание пользователя МЖКХ";
}

<div class="container-fluid">
    <form method="post" class="row g-3">
        <div class="col-md-2">
            <label for="LoginInput" class="form-label">Логин</label>
            <input type="text" class="form-control" name="Login" id="LoginInput" value="@Model.Login" required>
        </div>
        <div class="col-md-4">
            <label for="Password" class="form-label">Пароль</label>
            <div class="input-group mb-3">
                <button class="btn btn-success btn-generate-password" type="button" asp-page-handler="edit" id="Password">Сгенерировать</button>
                <input type="text" class="form-control" name="Password" value="@Model.Password" aria-label="Сгенерированный пароль" readonly>
            </div>
        </div>
        <div class="col-md-3">
            <label for="Passwordupto" class="form-label">Действует до..</label>
            <input type="date" class="form-control" name="Passwordupto" id="Passwordupto">
        </div>
        <div class="col-md-3">
            <label for="inputTerritory" class="form-label">Терриория</label>
            <input type="text" class="form-control" name="Territory" id="inputTerritory" placeholder="Республика Башкортостан" readonly>
        </div>
        <div class="col-md-3">
            <label for="inputDepartment" class="form-label">Департамент</label>
            <input type="text" class="form-control" name="Department" id="inputDepartment">
        </div>
        <div class="col-md-3">
            <label for="inputAddress2" class="form-label">Имя</label>
            <input type="text" class="form-control" name="Name" id="inputAddress2" placeholder="ФИО">
        </div>
        <div class="col-md-3">
            <label for="inputNote" class="form-label">Заметки</label>
            <input type="text" class="form-control" name="Note" id="inputNote">
        </div>
        <div class="row permissions">
            <div class="col">
                <label for="inputFlags" class="form-label">Виды форм</label>
                @foreach (var flag in Model.formsbool)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Fkinds" value="@flag.Key" asp-for="@flag.Value" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            @flag.Key - @Model.forms[flag.Key]
                        </label>
                    </div>
                }
            </div>
            <div class="col">
                <label for="inputFlags" class="form-label">Разрешения</label>
                @foreach (var flag in Model.Icanflagsbool)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Cflags" value="@flag.Key" asp-for="@flag.Value" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            @Model.Icanflags[flag.Key]
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" asp-page-handler="create" class="btn btn-primary">Сохранить изменения</button>
            <button type="submit" asp-page-handler="cancel" class="btn btn-secondary">Отменить изменения</button>
        </div>
    </form>
</div>